<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>userLoginServlet</servlet-name>
    <servlet-class>com.cms.controller.user.userLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginServlet</servlet-name>
    <url-pattern>/userLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userLogoutServlet</servlet-name>
    <servlet-class>com.cms.controller.user.userLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogoutServlet</servlet-name>
    <url-pattern>/front_end/userLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>com.cms.controller.admin.adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminLogoutServlet</servlet-name>
    <servlet-class>com.cms.controller.admin.adminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogoutServlet</servlet-name>
    <url-pattern>/back_end/adminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addAdminServlet</servlet-name>
    <servlet-class>com.cms.servlet.addAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAdminServlet</servlet-name>
    <url-pattern>/back_end/addAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteAdminServlet</servlet-name>
    <servlet-class>com.cms.servlet.deleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAdminServlet</servlet-name>
    <url-pattern>/back_end/deleteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listAdminServlet</servlet-name>
    <servlet-class>com.cms.servlet.listAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listAdminServlet</servlet-name>
    <url-pattern>/back_end/listAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAdminByIdServlet</servlet-name>
    <servlet-class>com.cms.servlet.getAdminByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAdminByIdServlet</servlet-name>
    <url-pattern>/back_end/getAdminByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyAdminServlet</servlet-name>
    <servlet-class>com.cms.servlet.modifyAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyAdminServlet</servlet-name>
    <url-pattern>/back_end/modifyAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addChannelServlet</servlet-name>
    <servlet-class>com.cms.servlet.addChannelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addChannelServlet</servlet-name>
    <url-pattern>/back_end/addChannelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteChannelServlet</servlet-name>
    <servlet-class>com.cms.servlet.deleteChannelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteChannelServlet</servlet-name>
    <url-pattern>/back_end/deleteChannelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listChannelServlet</servlet-name>
    <servlet-class>com.cms.servlet.listChannelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listChannelServlet</servlet-name>
    <url-pattern>/back_end/listChannelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getChannelByIdServlet</servlet-name>
    <servlet-class>com.cms.servlet.getChannelByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getChannelByIdServlet</servlet-name>
    <url-pattern>/back_end/getChannelByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyChannelServlet</servlet-name>
    <servlet-class>com.cms.servlet.modifyChannelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyChannelServlet</servlet-name>
    <url-pattern>/back_end/modifyChannelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addArticleServlet</servlet-name>
    <servlet-class>com.cms.servlet.addArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addArticleServlet</servlet-name>
    <url-pattern>/back_end/addArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteArticleServlet</servlet-name>
    <servlet-class>com.cms.servlet.deleteArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteArticleServlet</servlet-name>
    <url-pattern>/back_end/deleteArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listArticleServlet</servlet-name>
    <servlet-class>com.cms.servlet.listArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listArticleServlet</servlet-name>
    <url-pattern>/back_end/listArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getArticleByIdServlet</servlet-name>
    <servlet-class>com.cms.servlet.getArticleByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getArticleByIdServlet</servlet-name>
    <url-pattern>/back_end/getArticleByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyArticleServlet</servlet-name>
    <servlet-class>com.cms.servlet.modifyArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyArticleServlet</servlet-name>
    <url-pattern>/back_end/modifyArticleServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.cms.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserLoginFilter</filter-name>
    <filter-class>com.cms.filter.UserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginFilter</filter-name>
    <url-pattern>/front_end/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>com.cms.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/back_end/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>